*.o
coretb
coretb_nomiss
coretb.ghw
coretb_nomiss.ghw
input.dat
output.dat
ir.log
fr.log
work-obj93.cf
components/code
components/code.log
components/meminit.vhd
misc/checkdump
misc/tohex
misc/fromhex
