#-----------------------------------------------------------
#--  Design Name	 :	CPU Evaluation Boad_2
#--
#--  File Name		 :	CPUEV2.ucf
#--  Function		 :	CPUEV2_Top module
#--
#--  HDL			 :	Verilog
#--  Purpose		 :	Synthesis
#--  Target Device	 :	Virtex5 XC5VLX50T-1FF1136C
#--  Creation Date	 :	2008/03/25 Ver.0.10
#--  Design 		 :	Sansei System Co.,Ltd.
#--  Auther 		 :	Y.Fujishiro
#--
#--  Update 		 :
#--
#-----------------------------------------------------------
#-----------------------------------------------------------
# Target Information
CONFIG PART=5VLX50TFF1136-1 ;


##########################################################
# Pin Assign
##########################################################
#////////////////////////////////////////
#// ZBT-RAM connection.
#////////////////////////////////////////
#// = Bus. =
NET "zd[0]" LOC = AJ30;
NET "zd[1]" LOC = AH29;
NET "zd[2]" LOC = AH30;
NET "zd[3]" LOC = AG30;
NET "zd[4]" LOC = AF29;
NET "zd[5]" LOC = AF30;
NET "zd[6]" LOC = AE29;
NET "zd[7]" LOC = AD29;
NET "zd[8]" LOC = V28;
NET "zd[9]" LOC = W27;
NET "zd[10]" LOC = Y29;
NET "zd[11]" LOC = Y28;
NET "zd[12]" LOC = AA30;
NET "zd[13]" LOC = AA29;
NET "zd[14]" LOC = AB30;
NET "zd[15]" LOC = AC30;
NET "zd[16]" LOC = AP32;
NET "zd[17]" LOC = AN32;
NET "zd[18]" LOC = AM32;
NET "zd[19]" LOC = AK31;
NET "zd[20]" LOC = AK32;
NET "zd[21]" LOC = AJ31;
NET "zd[22]" LOC = AJ32;
NET "zd[23]" LOC = AH32;
NET "zd[24]" LOC = V30;
NET "zd[25]" LOC = V29;
NET "zd[26]" LOC = W30;
NET "zd[27]" LOC = W29;
NET "zd[28]" LOC = AD31;
NET "zd[29]" LOC = AE32;
NET "zd[30]" LOC = AE31;
NET "zd[31]" LOC = AF31;

NET "zdp[0]" LOC = AD30;
NET "zdp[1]" LOC = AC29;
NET "zdp[2]" LOC = AG31;
NET "zdp[3]" LOC = AG32;

#// = Outputs. =
NET "za[0]" LOC = AJ34;
NET "za[1]" LOC = AD32;
NET "za[2]" LOC = AC32;
NET "za[3]" LOC = AB31;
NET "za[4]" LOC = AB32;
NET "za[5]" LOC = AH33;
NET "za[6]" LOC = V34;
NET "za[7]" LOC = V33;
NET "za[8]" LOC = AF33;
NET "za[9]" LOC = AG33;
NET "za[10]" LOC = V32;
NET "za[11]" LOC = AK34;
NET "za[12]" LOC = AK33;
NET "za[13]" LOC = AL34;
NET "za[14]" LOC = AL33;
NET "za[15]" LOC = AM33;
NET "za[16]" LOC = AN34;
NET "za[17]" LOC = AN33;
NET "za[18]" LOC = AF34;
NET "za[19]" LOC = AE33;

NET "xe1" LOC = W34;
NET "e2a" LOC = Y34;
NET "xe3" LOC = AA33;
NET "xzbe[0]" LOC = W31;
NET "xzbe[1]" LOC = W32;
NET "xzbe[2]" LOC = AA34;
NET "xzbe[3]" LOC = Y33;
NET "xga" LOC = AD34;
NET "xwa" LOC = AC34;
NET "xzcke" LOC = AC33;
NET "zclkma[0]" LOC = Y32;
NET "zclkma[1]" LOC = AB33;

NET "adva" LOC = AE34;
NET "xft" LOC = Y31;
NET "xlbo" LOC = AH34;
NET "zza" LOC = AA31;

#// = Inputs. =
NET "rs_tx" LOC = K11;
NET "rs_rx" LOC = J11;


#///////////////////////////////////////
#// Clock connection.
#///////////////////////////////////////
#// = Outputs. =
#NET  DUMY		   LOC=K17;
#// = Inputs. =
#NET  CLK48M 	   LOC=H17;
NET "mclk1" LOC = J16;
NET "xrst" LOC = H18;

##########################################################
# Pin Type Define
##########################################################
#////////////////////////////////////////
#// ZBT-RAM Type Define.
#////////////////////////////////////////
#// = Bus. =
NET "zd[0]" IOSTANDARD = LVTTL;
NET "zd[1]" IOSTANDARD = LVTTL;
NET "zd[2]" IOSTANDARD = LVTTL;
NET "zd[3]" IOSTANDARD = LVTTL;
NET "zd[4]" IOSTANDARD = LVTTL;
NET "zd[5]" IOSTANDARD = LVTTL;
NET "zd[6]" IOSTANDARD = LVTTL;
NET "zd[7]" IOSTANDARD = LVTTL;
NET "zd[8]" IOSTANDARD = LVTTL;
NET "zd[9]" IOSTANDARD = LVTTL;
NET "zd[10]" IOSTANDARD = LVTTL;
NET "zd[11]" IOSTANDARD = LVTTL;
NET "zd[12]" IOSTANDARD = LVTTL;
NET "zd[13]" IOSTANDARD = LVTTL;
NET "zd[14]" IOSTANDARD = LVTTL;
NET "zd[15]" IOSTANDARD = LVTTL;
NET "zd[16]" IOSTANDARD = LVTTL;
NET "zd[17]" IOSTANDARD = LVTTL;
NET "zd[18]" IOSTANDARD = LVTTL;
NET "zd[19]" IOSTANDARD = LVTTL;
NET "zd[20]" IOSTANDARD = LVTTL;
NET "zd[21]" IOSTANDARD = LVTTL;
NET "zd[22]" IOSTANDARD = LVTTL;
NET "zd[23]" IOSTANDARD = LVTTL;
NET "zd[24]" IOSTANDARD = LVTTL;
NET "zd[25]" IOSTANDARD = LVTTL;
NET "zd[26]" IOSTANDARD = LVTTL;
NET "zd[27]" IOSTANDARD = LVTTL;
NET "zd[28]" IOSTANDARD = LVTTL;
NET "zd[29]" IOSTANDARD = LVTTL;
NET "zd[30]" IOSTANDARD = LVTTL;
NET "zd[31]" IOSTANDARD = LVTTL;

NET "zdp[0]" IOSTANDARD = LVTTL;
NET "zdp[1]" IOSTANDARD = LVTTL;
NET "zdp[2]" IOSTANDARD = LVTTL;
NET "zdp[3]" IOSTANDARD = LVTTL;


#// = Outputs. =
NET "za[0]" IOSTANDARD = LVTTL;
NET "za[1]" IOSTANDARD = LVTTL;
NET "za[2]" IOSTANDARD = LVTTL;
NET "za[3]" IOSTANDARD = LVTTL;
NET "za[4]" IOSTANDARD = LVTTL;
NET "za[5]" IOSTANDARD = LVTTL;
NET "za[6]" IOSTANDARD = LVTTL;
NET "za[7]" IOSTANDARD = LVTTL;
NET "za[8]" IOSTANDARD = LVTTL;
NET "za[9]" IOSTANDARD = LVTTL;
NET "za[10]" IOSTANDARD = LVTTL;
NET "za[11]" IOSTANDARD = LVTTL;
NET "za[12]" IOSTANDARD = LVTTL;
NET "za[13]" IOSTANDARD = LVTTL;
NET "za[14]" IOSTANDARD = LVTTL;
NET "za[15]" IOSTANDARD = LVTTL;
NET "za[16]" IOSTANDARD = LVTTL;
NET "za[17]" IOSTANDARD = LVTTL;
NET "za[18]" IOSTANDARD = LVTTL;
NET "za[19]" IOSTANDARD = LVTTL;

NET "xe1" IOSTANDARD = LVTTL;
NET "e2a" IOSTANDARD = LVTTL;
NET "xe3" IOSTANDARD = LVTTL;
NET "xzbe[0]" IOSTANDARD = LVTTL;
NET "xzbe[1]" IOSTANDARD = LVTTL;
NET "xzbe[2]" IOSTANDARD = LVTTL;
NET "xzbe[3]" IOSTANDARD = LVTTL;
NET "xga" IOSTANDARD = LVTTL;
NET "xwa" IOSTANDARD = LVTTL;
NET "xzcke" IOSTANDARD = LVTTL;
NET "zclkma[0]" IOSTANDARD = LVTTL;
NET "zclkma[1]" IOSTANDARD = LVTTL;

NET "adva" IOSTANDARD = LVTTL;
NET "xft" IOSTANDARD = LVTTL;
NET "xlbo" IOSTANDARD = LVTTL;
NET "zza" IOSTANDARD = LVTTL;

#////////////////////////////////////////
#// Clock Type Define.
#////////////////////////////////////////
#// = Outputs. =
#// = Inputs. =
#NET  CLK48M 	   IOSTANDARD = LVTTL;
NET "mclk1" IOSTANDARD = LVTTL;
NET "xrst" IOSTANDARD = LVTTL;
NET "rs_tx" IOSTANDARD = LVTTL;
NET "rs_rx" IOSTANDARD = LVTTL;


############################################################################
# Clock constraints                                                        #
############################################################################
#NET "u_mig/u_infrastructure/sys_clk_ibufg" TNM_NET =  "SYS_CLK";
# NET "MCLK1" TNM_NET = "SYS_CLK";
# TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 14.52 ns HIGH 50 %;
NET "mclk1" TNM_NET = "mclk1";
# TIMESPEC TS_mclk1 = PERIOD "mclk1" 14.52 ns HIGH 50 %;
TIMESPEC TS_mclk1 = PERIOD "mclk1" 66.6 MHz HIGH 50 %;


###############################################################################
# Define multicycle paths - these paths may take longer because additional
# time allowed for logic to settle in calibration/initialization FSM
###############################################################################
# CLK : 14.5
# Data Out : Setup : CLK - tS(1.5) - delay(0.5) = 12.5
# Data Out : Hold : tH(0.5) = 0.5
# INST xzcke     TNM = GRP_SRAM_OUT;
# INST xe1       TNM = GRP_SRAM_OUT;
# INST e2a       TNM = GRP_SRAM_OUT;
# INST xe3       TNM = GRP_SRAM_OUT;
# INST adva      TNM = GRP_SRAM_OUT;
# INST xwa       TNM = GRP_SRAM_OUT;
# INST "xzbe[*]" TNM = GRP_SRAM_OUT;
# INST "za[*]"   TNM = GRP_SRAM_OUT;
# INST "zd[*]"   TNM = GRP_SRAM_OUT;

# TIMEGRP GRP_SRAM_OUT OFFSET = OUT 7.5 ns AFTER "mclk1" RISING;

# Data In : Setup : tKQ(3.8) + delay(0.5) = 4.3
# Data In : Hold  : tKQX(1.5) = 1.5
NET "zd[*]" OFFSET = IN 6 ns VALID 6.5 ns BEFORE "mclk1" RISING;


# MIDI input
NET "midi_rx" LOC=G30; # IOA(33)

NET "midi_rx" IOSTANDARD = LVTTL;
# Audio Module
NET "audio_xwr"   LOC=K32; # IOA(126)
NET "audio_xcs"   LOC=J34; # IOA(123)
NET "audio_a"    LOC=U25; # IOA(120)
NET "audio_d[0]" LOC=U27; # IOA(117)
NET "audio_d[1]" LOC=U33; # IOA(114)
NET "audio_d[2]" LOC=T24; # IOA(111)
NET "audio_d[3]" LOC=T28; # IOA(108)
NET "audio_d[4]" LOC=T29; # IOA(105)
NET "audio_d[5]" LOC=R34; # IOA(102)
NET "audio_d[6]" LOC=N25; # IOA(99)
NET "audio_d[7]" LOC=R31; # IOA(96)
NET "audio_xrs"  LOC=R32; # IOA(93)

NET "audio_xwr"   IOSTANDARD = LVTTL;
NET "audio_xcs"   IOSTANDARD = LVTTL;
NET "audio_a"    IOSTANDARD = LVTTL;
NET "audio_d[0]" IOSTANDARD = LVTTL;
NET "audio_d[1]" IOSTANDARD = LVTTL;
NET "audio_d[2]" IOSTANDARD = LVTTL;
NET "audio_d[3]" IOSTANDARD = LVTTL;
NET "audio_d[4]" IOSTANDARD = LVTTL;
NET "audio_d[5]" IOSTANDARD = LVTTL;
NET "audio_d[6]" IOSTANDARD = LVTTL;
NET "audio_d[7]" IOSTANDARD = LVTTL;
NET "audio_xrs"  IOSTANDARD = LVTTL;
